pipeline {
  agent { label 'node-js' }
  options { 
    buildDiscarder(logRotator(numToKeepStr: '2'))
  }
  stages {
    stage('Say Hello') {
      steps {
        echo 'Hello World!'   
        sh 'java -version'
      }
    }
  }
}
